*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator{
  width: 600px;
  height: 800px;
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
  align-items:center;
  border: none;
  border-radius: 3rem;
}
.body{
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-screen{
  width: 31.4rem;
  height: 9rem;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2rem;
  font-weight: bold;
}

.rows{
  display: flex;
  gap: 8px;
  font-size: 2rem;

}


.btn{
  background-color: white;
  padding: 2rem 2.8rem;
  margin: .5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(0, 139, 189);
  color: white;
}

#equal{
  background-color: rgb(0, 135, 231);
  color: white;
}

#equal:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#clear{
  background-color: rgb(174, 28, 28);
  color: white;
}

#clear:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
